@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img{
  background-color: white;
  height:100vh;
  background-size: cover;
  background-position: center;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background:#62b7ec;
  border-radius: 20px;
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.bg-img1{
  height:140vh;
  background-size:cover;
  background-position: center;
  background-repeat: repeat-y;
}

.content1{
  position: absolute;
  top: 83%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 80vh;
  transform: translate(-50%,-50%);
  background:#62b7ec;
  border-radius: 20px;
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.bg-img2{
  
  height:153vh;
  background-size:cover;
  background-position: center;
  background-repeat: repeat-y;
}

.content2{
  position: absolute;
  top: 83%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 100vh;
  transform: translate(-50%,-50%);
  background: #249eea;
  border-radius: 20px;
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}



/* Increase font size and slow underline transition */
.navbar-brand.nav-link {
  font-size: 18px; /* You can adjust the font size as per your preference */
  position: relative;
  transition: all 0.3s ease; /* Slow down the underline transition */
}

/* Underline effect on hover */
.navbar-brand.nav-link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #007BFF; /* Underline color */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the underline */
  transition: all 0.3s ease;  /* Slow down the underline transition */
}

.navbar-brand.nav-link:hover:after {
  width: 100%; /* Underline to full width on hover */
}

/* Light effect on text hover */
.navbar-brand.nav-link:hover {
  color: #007BFF; /* Text color on hover */
  text-shadow: 0 0 10px rgb(171, 158, 245); /* Light shadow effect on text */
}